/* Reset with universal selector*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
}
/* Img vertical aligned */
img{
    vertical-align: middle;
}
/* Title vertical aligned*/
span{
   font-size: 30px; 
   vertical-align: middle;
   font-weight: bold;
   font-style:normal;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Main div background color */
main{
    background-color: rgb(243, 242, 242);
    padding-top: 30px;
    padding-bottom: 10px;
}
/* Content main */
.content-main{
    width: 800px;
    margin: auto;
    text-align: left;
    border-radius: 0.5%;
    padding: 10px;
    
}
/* content first div*/
.content-main-1{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 30px;
    border: 3px solid rgb(243, 242, 242);
}
/* Button 2 first div*/
.content-main-2{
    background-color: white;
 }
button{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 10px;
    
}
.button-1{
    background-color: rgb(100, 189, 244);
    color: white;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 25px;
}
.button-2{
    background-color: white;
    opacity: 0.2;
    border-radius: 5px;
    border: 0.1;
    width: 80px;
    height: 26px;
    margin-left: 1px;
}
/* Main List */
.content-main ul li{
    list-style: none;
    padding-top: 10px;
    padding-left: 30px;
    border-left: 3px solid rgb(243, 242, 242);
    border-right: 3px solid rgb(243, 242, 242);
  
    
}

.button-editorial{
    font-size: x-small;
    background-color: rgb(100, 189, 244);
    border: 1px solid  rgb(100, 189, 244);
    border-radius: 20%;
    color: white;
}
.button-editorial1{
    font-size: x-small;
    background-color: darkorchid;
    border: 1px solid  darkorchid;
    border-radius: 20%;
    color: white;
}
.button-editorial2{
    font-size: x-small;
    background-color: rgb(63, 182, 109);
    border: 1px solid  rgb(70, 146, 91);
    border-radius: 20%;
    color: white;
}

.checked-mark{
    font-size: 15px;
    color: lightgreen;
    background-color: white;
    display: inline-block;
    width: 23px;
    height: 23px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid lightgreen;
}
.cross-mark{
    font-size: 8px;
    color: lightgreen;
    background-color: white;
    display: inline-block;
    width: 23px;
    height: 23px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid red;
}